*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.section1{
    height: 100vh;
    display: flex;
    justify-content: center;
}
.container{
   
    height: 100vh;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    border: 30px solid #facec2;
    position: absolute;
    top: 20px;
    left: -100px;
}
.bigImg{
    height: 600px;
    width: 600px;
    border-radius: 100%;
    background-image: url(img/sekil1.jpg);
    background-size: cover;
}
.smalImg{
    height: 300px;
    width: 300px;
    border-radius: 100%;
    background-image: url(img/sekil2.jpg);
    background-size: cover;
    position: relative;
    bottom: 200px;
}
.circle2{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    background-color: #facec2;
    position: absolute;
    bottom:  20px;
    right: 50px;
}

@media(max-width:1130px){
    .bigImg{
    height: 500px;
    width: 500px;
    border-radius: 100%;
    background-image: url(img/sekil1.jpg);
    background-size: cover;
}
.smalImg{
    height: 250px;
    width: 250px;
    border-radius: 100%;
    background-image: url(img/sekil2.jpg);
    background-size: cover;
    position: relative;
    top:-50px;
    left: 100px;
    
}
}

@media(max-width:970px){
    .bigImg{
    height: 400px;
    width: 400px;
    border-radius: 100%;
    background-image: url(img/sekil1.jpg);
    background-size: cover;
}
.smalImg{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background-image: url(img/sekil2.jpg);
    background-size: cover;
    position: relative;
    bottom: 200px;
}
}
@media(max-width:950px){
    .container{
        flex-direction: column-reverse;
    }
    .bigImg{
    height: 500px;
    width: 500px;
    border-radius: 100%;
    background-image: url(img/sekil1.jpg);
    background-size: cover;
}
.smalImg{
    height: 250px;
    width: 250px;
    border-radius: 100%;
    background-image: url(img/sekil2.jpg);
    background-size: cover;
    position: relative;
    bottom: 200px;
}
.circle{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    border: 30px solid #facec2;
    position: absolute;
    top: 20px;
    left: -50px;
}
}

@media(max-width:600px){
    .container{
        flex-direction: column-reverse;
    }
    .bigImg{
    height: 350px;
    width: 350px;
    border-radius: 100%;
    background-image: url(img/sekil1.jpg);
    background-size: cover;
}
.smalImg{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background-image: url(img/sekil2.jpg);
    background-size: cover;
    position: relative;
    bottom: 200px;
}
.circle{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    border: 30px solid #facec2;
    position: absolute;
    top: 90px;
    left: -10px;
}
.circle2{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    background-color: #facec2;
    position: absolute;
    bottom:  30px;
    right: 50px;
}
}